.form__message {
    font-size: 14px;
    border-radius: 6px;
    padding: 10px;
    margin: 0 0 10px;
}

.form__error {
    color: #b22222;
    background-color: #ffeded;
}

.form__success {
    color: #334d18;
    background-color: #b3fabeff;
}